name: GitHub Metrics
on:
  schedule: [{cron: "0 */24 * * *"}]
  push: {branches: ["main"]}
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}

          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 12
          plugin_languages_sections: most-used

          plugin_stars: yes
          plugin_followup: yes
          plugin_code: yes
